<div class="row">
  <div class="col-6">
    <h3>Aitheon</h3>
  </div>
  <div class="col-6 text-right"></div>
</div>
<div id="quiz">
  <h2 class="text-center font-weight-normal">Quiz Application</h2>
  <hr />
  <div *ngFor="let question of filteredQuestions">
    <div class="badge badge-info">
      Question {{ pager.index + 1 }} of {{ pager.count }}
    </div>
    <h3 class="font-weight-normal">
      {{ pager.index + 1 }}. <span [innerHTML]="question.question"></span>
    </h3>
    <div class="row text-left options" style="margin-left: 35px">
      <div class="col-6" *ngFor="let option of question.options; let j = index">
        <div class="option">
          <label class="font-weight-normal" [attr.for]="j">
            <input
              id="flexCheckDefault"
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="option.selected"
              (change)="onSelect(question, option)"
            />
            {{ option.name }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="text-center">
    <button class="btn btn-default" (click)="goTo(0)">First</button>
    <button class="btn btn-default" (click)="goTo(pager.index - 1)">
      Prev
    </button>
    <button class="btn btn-primary" (click)="goTo(pager.index + 1)">
      Next
    </button>
    <button class="btn btn-default" (click)="goTo(pager.count - 1)">
      Last
    </button>
  </div>
  <hr />
  <div>
    <button class="btn btn-warning">Quiz</button>
    <button class="btn btn-info">Review</button>
    <button class="btn btn-success">Submit Quiz</button>
  </div>
</div>
